# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Node
node_modules/

# Output
.svelte-kit/
build/

# Prettier
.prettierignore
.prettierrc

# Env
.env
.env.*

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Misc
README.md
